<!DOCTYPE html>
<html>
<head>
	 <meta charset="UTF-8">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

<link rel="stylesheet" href="../assets/css/blades-style.css">

<title>Table Tennis Directory</title>
</head>
<body>
	<% if (signLabel == "Sign Out"){ %>
		<% include partials/header-signedin.ejs %>
		<% }else{ %>

	<% include partials/header.ejs %>
	<%} %>

		<section>
			<h5 id="textHide">Text</h5>
			<% if (signLabel == "Sign Out"){ %>
				<% include partials/user-navigation-signedid.ejs %>
					<% }else{ %>
			<% include partials/user-navigation.ejs %>
	<%} %>

		<% include partials/site-navigation.ejs %>


	<div class="description">
		<p class="smallFont">Home>Categories>Blades</p>
		<br>
		<h2>Blades</h2>
		<br>
		<h4>
			Browse by brands
		</h4>
		<br>
		<label for="menu-toggle">Butterfly</label>
<input type="checkbox" id="menu-toggle"/>
<ul id="menu">

	<%	for(var i=0; i< item.length; i++){
console.log("here1 "+item[i].brand+"  "+item[i].subCategory);
		if(item[i].brand=="Butterfly" && item[i].subCategory=="Blades") {
			console.log("here"); %>
		<li><a href="/categories/productDetails/<%= item[i].itemCode %>"><%= item[i].itemName %></a></li>

<%}	}%>


</ul>
<label for="menu-toggle2">Stiga</label>
<input type="checkbox" id="menu-toggle2"/>
<ul id="menu2">
	<%	for(var i=0; i< item.length; i++){
console.log("here1 "+item[i].itemCode);
		if(item[i].brand=="Stiga" && item[i].subCategory=="Blades") {
			console.log("here"); %>
		<li><a href="/categories/productDetails/<%= item[i].itemCode %>"><%= item[i].itemName %></a></li>

<%}	}%>

</ul>
<label for="menu-toggle3">Xiom</label>
<input type="checkbox" id="menu-toggle3"/>
<ul id="menu3">
	<%	for(var i=0; i< item.length; i++){
console.log("here1 "+item[i].brand+"  "+item[i].subCategory);
		if(item[i].brand=="Xiom" && item[i].subCategory=="Blades") {
			console.log("here"); %>
		<li><a href="/categories/productDetails/<%= item[i].itemCode %>"><%= item[i].itemName %></a></li>

<%}	}%>

</ul>
<form>
<button type=submit formaction="/categories" >Go to Category
</button>
</form>

	</div>
	</section>
	<% include partials/footer.ejs %>

</body>
</html>
